<div class="container">
  <div class="d-flex m-5">
    <h2 class="">Employees</h2>
    <svg routerLink="/addEmployee" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="m-3 bi bi-person-plus-fill" viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg>
  </div>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
      <tr>
        <th scope="col"><h4>#</h4></th>
        <th scope="col"><h4>FirstName</h4></th>
        <th scope="col"><h4>Last Name</h4></th>
        <th scope="col"><h4>Department</h4></th>
        <th scope="col"><h4>Salary</h4></th>
        <th scope="col"><h4>Employed since</h4></th>
        <th scope="col"><h4>Actions</h4></th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let employee of employees">
        <td><span class="text-primary">{{ employee.id }}</span></td>
        <td><span class="text-primary">{{ employee.firstName }}</span></td>
        <td><span class="text-primary">{{ employee.lastName }}</span></td>
        <td><span class="text-primary">{{ employee.department }}</span></td>
        <td><span class="text-primary">{{ employee.salary }}</span></td>
        <td><span class="text-primary">{{ employee.startDate }}</span></td>
        <td>
          <button [routerLink]="'/employees/' + employee.id + '/edit'" class="btn btn-outline-info"><a>Edit</a></button>
          <button class="btn btn-outline-danger" (click)="confirmDelete(employee.id)"><a>Delete</a></button>
          <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm Deletion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this employee?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
                  <button type="button" class="btn btn-danger" (click)="deleteEmployee(employeeId)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



